{% extends 'base.html' %}
{% load static %}
{% block title %}Статья{% endblock %}

{% block content %}

    <!-- ======== ОСНОВНОЕ СОДЕРЖИМОЕ ======== -->
    <main>
        <div class="article-container">
            <!-- Заголовок статьи -->
<!--            <header class="article-header">-->
<!--                <h1 class="article-main-title">Топ-5 районов Москвы по росту цен в 2024 году</h1>-->
<!--                <div class="article-meta">-->
<!--                    <span>Опубликовано: 10 июня 2025</span> | <span>Категория: Аналитика рынка</span>-->
<!--                </div>-->
<!--            </header>-->



            <h1 class="article-main-title">{{ article.title }}</h1>
                <div class="article-meta">
                    <span>Автор: {{ article.author.username }}</span> | <span>Опубликовано: {{ article.pub_date|date:"d E Y" }}</span>
                </div>
                <div class="article-body">
                    {{ article.content|linebreaks }}
                </div>



<!--            &lt;!&ndash; Основное изображение статьи &ndash;&gt;-->
<!--            <img src="https://placehold.co/800x400/800000/fff?text=Главное+изображение" alt="Топ-5 районов Москвы" class="article-featured-image">-->

<!--            &lt;!&ndash; Контент статьи &ndash;&gt;-->
<!--            <div class="article-body">-->
<!--                <p>Рынок недвижимости Москвы продолжает демонстрировать устойчивость и рост в ключевых сегментах. Несмотря на общую стабилизацию цен, некоторые районы показывают выдающуюся динамику, привлекая внимание как частных инвесторов, так и покупателей "для себя". В этом исследовании мы рассмотрим пять районов, ставших лидерами по росту стоимости квадратного метра за последний год.</p>-->

<!--                <h2>1. Раменки (ЗАО)</h2>-->
<!--                <p>Традиционно престижный район показывает новый виток развития благодаря открытию новых станций метро и строительству нескольких ЖК бизнес- и премиум-класса. Инфраструктура района, включая МГУ и парк "Воробьевы горы", продолжает оставаться мощным драйвером спроса.</p>-->

<!--                <blockquote>Ключевым фактором роста в Раменках стала комплексная реновация старых промышленных зон и создание на их месте современных городских кластеров.</blockquote>-->

<!--                <h2>2. Даниловский (ЮАО)</h2>-->
<!--                <p>Еще несколько лет назад Даниловский район считался недооцененным. Однако близость к центру, активное развитие бывшей промзоны "ЗИЛ" и создание на набережных качественного общественного пространства кардинально изменили его статус. Сегодня это один из самых быстрорастущих рынков как жилой, так и коммерческой недвижимости.</p>-->
<!--                &lt;!&ndash; тут можно добавить еще много текста &ndash;&gt;-->
<!--            </div>-->
        </div>
    </main>

 {% endblock %}